<div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="profileName" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-user fa"></i>
          {{nome}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/perfil">Perfil</a>
          <a class="dropdown-item" href="/logout">Sair</a>
          {{#ifImAdmin}}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/funcionarios">Editar funcionários</a>
          {{else}}
          {{/ifImAdmin}}
        </div>
      </li>
    </ul>
  </div>