:root {
  --blue-background-color-hover:  rgb(81, 135, 138);
  --blue-background-color: #45a8ac;
}
#row:hover {
  background-color: #dcdcdc;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: 0.5em;
}

table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th {
  cursor: pointer;
}

tbody > #row:hover {
  background-color: #45a8ac;
  color: white;
  cursor: pointer;
}

th,
td {
  text-align: left;
  padding: 16px;
}

progress#progressBar:hover:after {
  display: block;
  content: attr(value);
}

#calendar {
  max-width: max-content;
  margin: 40px auto;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-obras {
  -webkit-transition: margin 0.25s ease;
  -moz-transition: margin 0.25s ease;
  -o-transition: margin 0.25s ease;
  transition: margin 0.25s ease;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.list-group-item,
#profileName {
  color: white !important;
  border: 0 none;
}

.sidebar-nav {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

.sub-menu {
  display: none;
  list-style: none;
}

.sub-sub-sidebar-brand > a {
  padding-left: 20%;
}

.sidebar-nav li.active ul {
  display: block;
}

.nav-link.active {
  font-weight: bold;
}

#menu-toggle {
  font-size: 10px;
}

.row > .col-8 > .btn {
  font-size: 16px;
}

thead > tr > th {
  background-color: rgb(95, 158, 160, 0.3);
}

.fc-right .fc-prev-button,
.fc-right .fc-next-button {
  background-color: var(--blue-background-color);
  border: none;
}

.fc-right:hover .fc-prev-button:hover,
.fc-right:hover .fc-next-button:hover {
  background-color:  var(--blue-background-color-hover);
}

#dashboard{
  background-color: var(--blue-background-color);
   color:white;
}

.btn-outline-info{
  color: var(--blue-background-color-hover);
}

#infoHover:hover{
  background-color: rgb(95, 158, 160, 0.3);
  cursor: context-menu;
}

.form-control:focus{
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#inputFiltro{
  border: none;
  border-bottom: 2px solid var(--blue-background-color);
}

#lista{
  overflow-x:auto; 
  display:block; 
  white-space: nowrap;
}

.avatar{
  vertical-align: middle; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
}

#profileName:hover{
  background-color: #171e25;
}

.multiselect-container {
  width: max-content;
}

button.multiselect {
  background-color: initial;
  border: 1px solid #ced4da;
}


@media (min-width: 760px) {
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  
}
