<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<div class="container-fluid pr-4 pl-4">

    <div class="row">
        <div class="col-md-6 mb-5">
            <div class="card card-danger">
                <div class="card-header" id="dashboard">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="card-title">Tarefas</h3>
                        </div>
                    </div>
                </div>
                
                <div class="collapse show" id="tarefas">
                    <div class="card card-body">
                        <canvas id="doughnutChartT" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-5">
            <div class="card card-danger">
                <div class="card-header" id="dashboard">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="card-title">Obras</h3>
                        </div>

                    </div>
                </div>
                <div class="collapse show" id="obras">
                    <div class="card card-body">
                        <canvas id="doughnutChartO" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var obras = {{{obras}}};
    var preOrcamento = 0, aAguardarResposta = 0, preProducao = 0, producao = 0, finalizada = 0;
    for(var i=0; i<obras.length; i++){
        switch(obras[i].estado){
            case 'preOrcamento':
                preOrcamento++;
                break;
            case 'aAguardarResposta':
                aAguardarResposta++;
                break;
            case 'preProducao':
                preProducao++;
                break;
            case 'producao':
                producao++;
                break;
            case 'finalizada':
                finalizada++;
                break;
        }   
    }

    var tarefas = {{{tarefas}}};
    var associada = 0, porAceitar = 0, aceite = 0, recusada = 0, emExecucao = 0, finalizada = 0;
    for(var i=0; i<tarefas.length; i++){
        switch(tarefas[i].estado){
            case 'associada':
                associada++;
                break;
            case 'porAceitar':
                porAceitar++;
                break;
            case 'aceite':
                aceite++;
                break;
            case 'recusada':
                recusada++;
                break;
            case 'emExecucao':
                emExecucao++;
                break;
            case 'finalizada':
                finalizada++;
                break;
        }   
    }

    var ctxD = document.getElementById("doughnutChartO").getContext('2d');
    var myLineChart = new Chart(ctxD, {
    type: 'doughnut',
    data: {
        labels: ["Pré-orçamento", "A aguardar resposta", "Pré-produção", "Produção", "Finalizada"],
        datasets: [{
            data: [preOrcamento, aAguardarResposta, preProducao, producao, finalizada],
            backgroundColor: ["#949FB1", "#46BFBD", "#FDB45C", "#4D5360", "#228B22"],
            hoverBackgroundColor: ["#A8B3C5", "#5AD3D1" , "#FFC870", "#616774", "#006400"] 
        }]
    },
    options: {
        maintainAspectRatio : false,
        responsive: true
    }
    });

    var ctxD = document.getElementById("doughnutChartT").getContext('2d');
    var myLineChart = new Chart(ctxD, {
    type: 'doughnut',
    data: {
        labels: ["Associada", "Por aceitar", "Aceite", "Recusada", "Em execução", "Finalizada"], 
        datasets: [{
            data: [associada, porAceitar, aceite, recusada, emExecucao, finalizada],
            backgroundColor: ["#949FB1", "#46BFBD", "#FDB45C", "#B22222", "#4D5360", "#228B22"],
            hoverBackgroundColor: ["#A8B3C5", "#5AD3D1" , "#FFC870", "#F7464A", "#616774", "#006400"]
        }]
    },
    options: {
        maintainAspectRatio : false,
        responsive: true
    }
    });

</script>


