<div class="container">

    <div class="row justify-content-center">
        <div class="text-center mt-5">
            <h2>Login123</h2>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <form action="/login" method="POST">
                <label for="email">Email: </label>
                <input type="email" name="email" class="form-control" required>
                <label class="mt-4" for="password">Password: </label>
                <input type="password" class="form-control" name="password" required>
                <div class="mt-5 col-12 text-center">
                    <button class="btn btn-info col-5 float-left" type="submit">Entrar</button>
                    <button class="btn btn-dark col-5 float-right" type="button" onclick="saltaParaRegisto()">Registo</button>  
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    function saltaParaRegisto(){
        window.location.href = "/registo";
    }
    window.onload = function(){
        history.replaceState({}, null, '/login')
    }
</script>